# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# NuGet packages
*.nupkg
*.snupkg
packages/
!packages/build/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Rider
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
